<div class="profile clearfix">
    <div class="profile_pic">
        <svg width="80" height="80" data-jdenticon-value="aNU sAKPIBAL"></svg>
    </div>
    <div class="profile_info">
        <span>Welcome,</span>
        <h2>Anu Sakpibal</h2>
    </div>
</div>