<div class="profile clearfix">
  <div class="profile_pic">
    <svg
      width="80"
      height="80"
      data-jdenticon-value="<%= name[0].fullname %>"
    ></svg>
  </div>
  <div class="profile_info">
    <span>ยินดีต้อนรับ,</span>
    <h2><%= name[0].fullname %></h2>
  </div>
</div>
