<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>รายการทั่วไป</h3>
    <ul class="nav side-menu">
      <li>
        <a
          ><i class="fa fa-home"></i> หน้าหลัก
          <span class="fa fa-chevron-down"></span
        ></a>
        <ul class="nav child_menu">
          <li><a href="index">ภาพรวม Feeder ทั้งหมด</a></li>
          <li><a href="index2">ภาพรวม ASM</a></li>
          <li><a href="index3">ภาพรวม NXT</a></li>
          <li><a href="onhand">On hand Feeder</a></li>
        </ul>
      </li>

      <li>
        <a
          ><i class="fa fa-table"></i> ข้อมูล Feeders
          <span class="fa fa-chevron-down"></span
        ></a>
        <ul class="nav child_menu">
          <li><a href="tables">รายละเอียดทั้งหมด</a></li>
          <li><a href="tables_dynamic">รายการ FEEDER ถึงกำหนด PM</a></li>
        </ul>
      </li>

      <li>
        <a
          ><i class="fa fa-edit"></i>แบบฟอร์มจัดการ Feeder
          <span class="fa fa-chevron-down"></span
        ></a>
        <ul class="nav child_menu">
          <li><a href="form">แบบฟอร์มเพิ่ม Feeder</a></li>
          <li><a href="edit_form">แบบฟอร์มแก้ไขข้อมูล Feeder</a></li>
          <li><a href="scrap_form">แบบฟอร์ม Scrap Feeder</a></li>
          <li><a href="manual_pm_form">แบบฟอร์มบันทึกผล Manual PM</a></li>
          <li><a href="approval">แบบฟอร์ม Approval</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
