<body class="login">
  <div>
    <div class="login_wrapper">
      <section class="login_content">
        <form method="post" action="/signup_completed">
          <h1>Create Account</h1>
          <div>
            <input type="text" class="form-control" placeholder="Username" required="" />
          </div>
          <div>
            <input type="email" class="form-control" placeholder="Email" required="" />
          </div>
          <div>
            <input type="password" class="form-control" placeholder="Password" required="" />
          </div>
          <div>
            <a class="btn btn-default submit" value="Submit">Submit</a>
          </div>


          <div class="clearfix"></div>

          <div class="separator">
            <p class="change_link">Already a member ?
              <a href="/" class="to_register"> Log in </a>
            </p>

            <div class="clearfix"></div>
            <br />

            <div>
              <h1><i class="fa fa-cogs"></i> FEEDER PM MANAGEMENT</h1>
              <p>©2018 MIT License. KETL FEEDER PM Management</p>
              <br />
              power by <a href="https://github.com/nuSapb">@Dectre</a>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</body>