<link rel="stylesheet" href="/-/vendors/w3/w3.css">

<div class="w3-bar w3-white w3-large">
    <a href="#" class="w3-bar-item w3-button w3-light-grey w3-mobile"><i class="fa fa-credit-card w3-margin-right"></i>Feeder
        PM Management</a>
    <a href="/" class="w3-bar-item w3-button w3-right w3-light-grey w3-mobile">Log in</a>
</div>
<div style="max-width:1500px">
    <img class="w3-image" src="/-/images/background.jpg" alt="PastelBackground">
    <div class="w3-display-middle w3-padding w3-col l4 m6">
        <div class="w3-container w3-card w3-light-grey w3-padding">
            <h3><i class="fa fa-login w3-margin-right"></i>Join us</h3>
        </div>

        <div class="w3-container w3-card w3-white w3-opacity w3-hover-opacity-off w3-padding-16 " style="display:block">
            <form method="post" action="/signup_completed">
                <div>
                    <div class="form-group" id="payment">
                        <label for="fullname">Fullname : </label>
                        <input type="input" class="form-control" id="inputfullname" name="fullname" placeholder="Please input Fullname"
                            required>
                        <label for="username">Username : </label>
                        <input type="email" class="form-control" id="inputusername" name="username" placeholder="name@mail.com"
                            required>
                        <label for="password">Password : </label>
                        <input type="password" class="form-control" id="inputpassword" name="password" required>
                        <label for="tel">Mobile Number : </label>
                        <input type="input" class="form-control" id="inputphone" name="tel" required>
                        <label for="listrole">Role : </label>
                        <select class="form-control" id="roleId" name="roleId" required>
                            <option value="0">---Select Role---</option>
                            <% roles.forEach((roles) => { %>
                            <option value=<%- roles.ROL_ID_PK%>>
                                <%- roles.ROL_NAME%>
                            </option>
                            <% }) %>
                        </select>
                        <br>

                        <input type="submit" class="w3-button w3-black w3-padding-large w3-round" value="Submit">
                        <input type="reset" class="w3-button w3-light-gray w3-padding-large w3-round" value="Reset">
                    </div>
                </div>
        </div>

    </div>