
<div style="max-width:1500px">
    
        <div class="w3-display-middle w3-padding w3-hide-small" style="width:45%">
            <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
                <h1 class="w3-xlarge">Your Welcome</h1>
                <hr class="w3-white">
                <p>Your username : <%- username %></p>

                <p><a href="/" class="w3-button w3-block w3-green w3-round">Log in </a></p>
            </div> 
        </div>
</div>

    
