<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a>
            <!-- <img src="/-/images/img.png" alt="">Anu Sakpibal -->
            <!-- <svg width="24" height="24" data-jdenticon-value="D S" alt=""></svg> -->
            <%= user %>
            <span class=" fa fa-user"></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
